carousel-element [inert] {
    transition: none !important;
    transform: none !important;
}

carousel-element {
    --§TRANSLATION_CSS_VAR: 0px;
    --§POSITION_CSS_VAR: 100%;
    --translation-var: clamp(-100,var(--§TRANSLATION_CSS_VAR),100%);
}

carousel-element.--§TRANSLATING_CSS_CLASS carousel-item {
    transition: none;
    overflow-y: hidden;
}

carousel-item {
    --x-translation: calc(var(--§POSITION_CSS_VAR) + var(--translation-var));
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(var(--x-translation));
    transition: trasform 1s;
}